.reveal {
  --r-background-color: #F0F1EB;
  --r-main-font: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  --r-main-font-size: 40px;
  --r-main-color: #000000;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  --r-heading-color: #383D3D;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 3.77em;
  --r-heading2-size: 2.11em;
  --r-heading3-size: 1.55em;
  --r-heading4-size: 1.00em;
  --r-code-font: monospace;
  --r-link-color: #51483D;
  --r-link-color-dark: #51483D;
  --r-link-color-hover: #6a6053;
  --r-selection-background-color: #26351C;
  --r-selection-color: #ffffff;
  --r-overlay-element-bg-color: 0,0,0;
  --r-overlay-element-fg-color: 240,240,240;
}

