.reveal {
  --r-background-color: #ffffff;
  --r-main-font: 'Lato', sans-serif;
  --r-main-font-size: 40px;
  --r-main-color: #000000;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: 'News Cycle', Impact, sans-serif;
  --r-heading-color: #000000;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 3.77em;
  --r-heading2-size: 2.11em;
  --r-heading3-size: 1.55em;
  --r-heading4-size: 1.00em;
  --r-code-font: monospace;
  --r-link-color: #00008B;
  --r-link-color-dark: #00008B;
  --r-link-color-hover: #00008B;
  --r-selection-background-color: rgba(0, 0, 0, 0.99);
  --r-selection-color: #ffffff;
  --r-overlay-element-bg-color: 0,0,0;
  --r-overlay-element-fg-color: 240,240,240;
}

